@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Práctica MVC</h1>
    <p> Trabajo práctico Nº7</p>
    Crear una rama desde el trabajo de Entity Framework tiene que partir de "tp4" hacia una rama llamada "tp7".
    <br />
    <ul>
        <li>Realizar un ABMC sobre la entidad que venian trabajando en Entity Framework. (Pueden Tomar de base su proyecto de Entity). Recuerden que el Proyecto Tiene que ser MVC de .NET (No confundir con Net Core).</li>
        <li>Investiguar como utilizar la misma vista y controlador para realizar el Insert y Update.</li>
        <li>Pueden agregar validators (con Atributos), pueden hacer validadores custom, capturar y mostrar estos mensajes de la forma que quieran.</li>
    </ul>
    <br />
    Nota: Es importante recalcar que no queremos que usen el proyecto que adjuntamos de la demo de base, como dice el enunciado, tomen de base su último proyecto de Entity Framework para realizar este trabajo.
    <br />
    <br />
    No requerido (Opcional pueden agregarle si les sobra tiempo):
    <br />
    <ul>
        <li>Añadir mensajes de validación, pueden ser de excepciones capturadas, de validaciones que quieran agregar o mensajes custom para determinada acción. Pueden utilizar o no lo visto en clase.</li>
        <li>Se subió la Demo de los ejemplos que vimos el día de hoy, se valorará su aplicación y forma correcta que crean de aplicarlos.</li>
        <li>Tienen jQuery instalado en su MVC, pueden usar scripts,  otros tipos de llamadas al MVC (ajax si se animan).</li>
        <li>Pueden agregar cualquier otra cosa que se les ocurra si quieren completarlo más.</li>
    </ul>
</div>