@model LabNet2021.Models.PokeModels.PokeListView
@{
    ViewBag.Title = "API Pokemon";
}  
<h1>API Pokemon</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Model.ListPokemons)
        {
            <tr>
                <td scope="row">@pokemon.NamePokemon</td>                              
                <td scope="row">@pokemon.Url</td>
            </tr>
        }
    </tbody>
</table>





