<div class="container pt-150">
  <div class="row justify-content-sm-center pt-4">
      <mat-card>
        <div class="card-body">
          <h1>LabNet2021.TP9</h1>
          <p>
            Haciendo uso de la Api generada en la práctica anterior, utilizar
            una de las entidades y generar un ABM básico (Insert, Update,
            Delete, Get).
          </p>
          <h3>Criterios de Aceptación</h3>
          <ul>
            <li>Formulario Reactivo</li>
            <li>Validaciones.</li>
            <li>Témplate en algún framework (Bootstrap, Material, etc).</li>
            <li>Estructura del proyecto.</li>
            <li>Manejo de errores.</li>
          </ul>
        </div>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
  </div>
</div>


