@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Práctica WebApi</h1>
    <p> Trabajo práctico Nº8</p>
    Crear una rama nueva llamada "tp8"
    <br />
    <br />
    Continuar del último proyecto que vienen trabajando (MVC)(en otra rama) lo siguiente:
    <br />
    <ul>
        <li>Consumir una API Publica (cualquiera que les interese usar) y mostrarla en la web.</li>
        <li>Crear un proyecto WebApi que exponga las entidades que vengan utilizando y sus acciones.</li>
    </ul>
</div>
