/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-size: auto;
  background-position: absolute;
  width: 100%;
  color: #fff;
  background: url(assets/bg-pattern_02.png), #280b36;
  background: url(assets/bg-pattern_02.png), -webkit-gradient(linear, right top, left top, from(#280b36), to(#520005));
  background: url(assets/bg-pattern_02.png), linear-gradient(to left, #280b36, #520005)}

.navBar {
  background-size: auto;
  background-position: center;
  position: relative;
  width: 100%;
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430)
}

.form{
  background-color: transparentize($color:#ffffff , $amount: 0.90);
}

.footer{
  position:fixed;
  bottom: 0;
  margin-top: 20pt;
  padding-top: 3px;
  padding-bottom: 3px;
  font: 100% sans-serif;
  padding-right: 20px;
  text-align: right;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430)
}

.table{
  color: #fff;
  font-size: 11pt;
}
