@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<div>
    <legend>Ezequiel Matías Unía | Developer</legend>
    <br />
    <tr>
        <td><img src="~/Assets/EMU_Foto de firma_02.png" alt="photo" width="300" /></td>
    </tr>
    <br />
    <br />
    <br />
    <legend>Socials</legend>
    <tr>
        <td><a href="https://www.linkedin.com/in/ezequiel-mat%C3%ADas-un%C3%ADa/"><img src="~/Assets/LinkedIn.png" alt="Linkedin" width="30px" /> Linkedin</a></td>
        <td><a href="https://github.com/ezeematias/labnet2021"><img src="~/Assets/gitBlanco.png" alt="gitHub" width="30px" /> GitHub</a></td>
    </tr>
    <br />
    <br />
    <br />
    <legend>Contact</legend>
    <tr>
        <td>
            <strong>Mail:</strong>
            <a href="mailto:Support@example.com">eunia69@gmail.com</a>
        </td>
        <br />
        <td>
            <strong>Phone:</strong>
            <a href="tel:1168781359">11-6878-1359</a>
        </td>
        <br />
    </tr>
</div>
