<div class="row justify-content-sm-center pt-5">
  <div class="form col-sm-5 shadow round pb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-form-label">Company Name</label>
        <input formControlName="companyName" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="col-form-label">Phone</label>
        <input formControlName="phone" type="tel" class="form-control" />
      </div>
      <br />
      <button mat-raised-button color="primary" (click)="newShippers()">Save</button>
      <button mat-raised-button color="warn" style="float: right;" (click)="onClickClean()">Clean</button>
    </form>
  </div>
</div>
<br><br><br>
